
1. Add a list of elements to a given set
Given:
sampleSet = {"Yellow", "Orange", "Black"}
sampleList = ["Blue", "Green", "Red",”Yellow”,”orange”]

In [8]:
ss1={"Yellow", "Orange", "Black"}
sampleList = ["Blue", "Green", "Red","Yellow","orange"]
 
for e in sampleList:
    ss1.add(e)
    
print(ss1)

{'Orange', 'Red', 'Yellow', 'Blue', 'orange', 'Black', 'Green'}

2. display common elements from the given set
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

In [9]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

print(set1&set2)

{40, 50, 30}

3. Generate a new set with all items from both sets by removing numbers which are in both sets.
set1 = {10, 20, 30, 40, 50,25}
set2 = {30, 40, 50, 60, 70,100}
o/p : order is not important
{70, 10, 20, 60,25,100}

In [14]:
set1 = {10, 20, 30, 40, 50,25}
set2 = {30, 40, 50, 60, 70,100}

print((set1|set2)-(set1&set2))

{100, 70, 10, 20, 25, 60}

4. set of all elements in either A or B, but not both
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
Expected output:
{20, 70, 10, 60}

In [16]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

print((set1|set2)-(set1&set2))

{10, 20, 70, 60}

5. Update set1 by adding items from set2, except common items
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
Expected output:
{70, 10, 20, 60}

In [18]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

print((set1|set2)-(set1&set2))

{10, 20, 70, 60}

6. Take a sentence as input from user. Every word is seperated by space. Print all unique words from the sentence.

In [26]:
a=input("Enter the string")
s1=set(a.split(" "))

print(s1)

Enter the stringSql is important
{'is', 'important', 'Sql'}

# Tuple Assign

In [ ]:
1. Reverse the following tuple
aTuple = (10, 20, 30, 40, 50,60)
Expected output:
(60,50, 40, 30, 20, 10)

In [42]:
T1 = (10, 20, 30, 40, 50,60)

a=T1[::-1]
print(a)

(60, 50, 40, 30, 20, 10)

2. display value 20 from the following tuple
aTuple = ("Orange", [10, 20, 30], (5, 15, 25))

In [50]:
T = ("Orange", [10, 20, 30], (5, 15, 25))
value=T[1][1]
print(value)

20

3. Unpack the following tuple into 4 variables
aTuple = (10, 20, 30, 40)

In [55]:
aTuple = (10, 20, 30, 40)

a,b,c,d=aTuple
print(a,b,c,d)

10 20 30 40

4. Swap the following two tuples
tuple1 = (11, 22)
tuple2 = (99, 88)
Expected output:
tuple1 = (99, 88)
tuple2 = (11, 22)

In [56]:
t1 = (11, 22)
t2 = (99, 88)

t1,t2=t2,t1  #Swaping the elements in tuple

print(t1)
print(t2)

(99, 88)
(11, 22)

5. Copy element 44 and 55 from the following tuple into a new tuple
tuple1 = (11, 22, 33, 44, 55, 66)
Expected output:
tuple2: (44, 55)

In [58]:
tuple1 = (11, 22, 33, 44, 55, 66)

tuple2=(tuple1[3],tuple1[4])
print(tuple2)

(44, 55)

6. Modify the first item (22) of a list inside a following tuple to 200
tuple1 = (11, [22, 33], 44, 55)
Expected output:
tuple1: (11, [200, 33], 44, 55)

In [60]:
tuple1 = (11, [22, 33], 44, 55)

tuple1[1][0]=200
print(tuple1)

(11, [200, 33], 44, 55)

# Swapping Two Numbers

7. Take two integer values in a & b. Swap their values using tuple, using temparary variable and without tuple and without temparary variable.
Ex. a=10 b=23
After swapping a=23 b=10

method 1 : direct Method

In [63]:
a=10
b=23

a,b=b,a # internally there is tuple (10,23)
print( a , b)

23 10

Method 2 : temporany Method

In [ ]:
temp=a
a=b
b=temp

print(a ,b)

Method 3 : temporany Method

In [64]:
a=a+b
b=a-b
a=a-b

print(a ,b)

10 23

# Dictionary Assignments

1. In cryptography, a Caesar cipher is a very simple encryption techniques in which each letter in the plain text is replaced by a letter some fixed number of positions down the alphabet. For example, with a shift of 3, A would be replaced by D, B would become E, and so on. The method is named after Julius Caesar, who used it to communicate with his generals. ROT-13 ("rotate by 13 places") is a widely used
example of a Caesar cipher where the shift is 13. In Python, the key for ROT-13 may be represented by means of the following dictionary
{'a':'n', 'b':'o', 'c':'p', 'd':'q', 'e':'r', 'f':'s', 'g':'t', 'h':'u', 'i':'v', 'j':'w', 'k':'x', 'l':'y', 'm':'z', 'n':'a', 'o':'b', 'p':'c',
'q':'d', 'r':'e', 's':'f', 't':'g', 'u':'h', 'v':'i', 'w':'j', 'x':'k', 'y':'l', 'z':'m', 'A':'N', 'B':'O', 'C':'P', 'D':'Q', 'E':'R', 'F':'S', 'G':'T', 'H':'U', 'I':'V', 'J':'W', 'K':'X', 'L':'Y', 'M':'Z', 'N':'A', 'O':'B', 'P':'C', 'Q':'D', 'R':'E', 'S':'F', 'T':'G', 'U':'H', 'V':'I', 'W':'J', 'X':'K', 'Y':'L', 'Z':'M'}
Your task in this exercise is to implement an encoder/decoder of ROT-13. Once you're done, you will be able to read the following secret message:
Pnrfne pvcure? V zhpu cersre Pnrfne fnynq!
Note that since English has 26 characters, your ROT-13 program will be able to both encode and decode texts written in English.

In [32]:
trans={'a':'n', 'b':'o', 'c':'p', 'd':'q', 'e':'r', 'f':'s', 'g':'t', 'h':'u', 'i':'v', 'j':'w', 'k':'x', 'l':'y', 'm':'z', 'n':'a', 'o':'b', 'p':'c',
       'q':'d', 'r':'e', 's':'f', 't':'g', 'u':'h', 'v':'i', 'w':'j', 'x':'k', 'y':'l', 'z':'m', 
       'A':'N', 'B':'O', 'C':'P', 'D':'Q', 'E':'R', 'F':'S', 
       'G':'T', 'H':'U', 'I':'V', 'J':'W', 'K':'X', 'L':'Y', 'M':'Z', 'N':'A', 'O':'B', 'P':'C', 'Q':'D', 'R':'E', 'S':'F', 'T':'G', 'U':'H', 'V':'I',
       'W':'J', 'X':'K', 'Y':'L', 'Z':'M'}

code= input("enter the passcode")
encode= ""
for char in code:
    if (char=='')|(char=='?')|(char=='!'):
        newchar=char
    else:
        newchar = trans[char]
        encode = encode+newchar
    
print(encode)

enter the passcodePnrfne pvcure? V zhpu cersre Pnrfne fnynq!

KeyError: ' '