Write programs using lists in python
1.Reverse a given list in Python
a List = [100, 200, 300, 400, 500]

output:
[500, 400, 300, 200, 100

In [1]:
l1 =[100,200,300,400,500]

l2 =l1[::-1]
print(l2)

[500, 400, 300, 200, 100]

2. take a list 'l1' of even nos between 150 to 250. Print its length.
Then create another list 'l2' using 'l1', containing only nos divisible by 4 from 'l1'

In [20]:
l1=[]
l2=[]
l3=[]
for i in range (150,250,2):
    l1.append(i)

    
print(l1)
print("length of list")
print(len(l1)) 


l2 =l1.copy()
print("list l2 is")
print(l2)

for e in l2:
    if (e%4 == 0):
        l3.append(e)
print("list of number divisible by 4")
print(l3)
print(len(l3))

[150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200, 202, 204, 206, 208, 210, 212, 214, 216, 218, 220, 222, 224, 226, 228, 230, 232, 234, 236, 238, 240, 242, 244, 246, 248]
length of list
50
list l2 is
[150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200, 202, 204, 206, 208, 210, 212, 214, 216, 218, 220, 222, 224, 226, 228, 230, 232, 234, 236, 238, 240, 242, 244, 246, 248]
list of number divisible by 4
[152, 156, 160, 164, 168, 172, 176, 180, 184, 188, 192, 196, 200, 204, 208, 212, 216, 220, 224, 228, 232, 236, 240, 244, 248]
25

3. Given a Python list of numbers. Turn every item of a list into its square root
aList = [1, 4, 9, 16, 25, 36, 49] 
output:
[1, 2, 3, 4, 5, 6, 7]

In [24]:
import math

l1=[1,4,9,16,25,36,49]
l2 =[]

for e in l1:
    l2.append(int(math.sqrt(e)))
    
print(l2)

[1, 2, 3, 4, 5, 6, 7]

4. Print two lists in the following order
list1 = [5, 6,7]
list2 = [0, 1]
output:
50,51,60,61,70,71

In [34]:
l1=[5,6,7]
l2=[0,1]
l3 =[]
l4=[]
a=0
for e1 in l1:
    for e2 in l2:
        a=str(e1)+str(e2)
        l3.append(a)
        
        
print(l3)

['50', '51', '60', '61', '70', '71']

5. Given a two Python list. Iterate both lists simultaneously such that list1 should display item in original order and list2 in reverse order. It should work for any two lists.

list1 = [10, 20, 30, 40]

list2 = [100, 200, 300, 400]

output:
10 400
20 300
30 200
40 100

In [14]:
l1=[10,20,30,40]
l2=[100,200,300,400]
l2.reverse()

print(l1)
print(l2)

for e1,e2 in zip(l1,l2):
    print(e1,e2)

[10, 20, 30, 40]
[400, 300, 200, 100]
10 400
20 300
30 200
40 100

6. Remove empty strings from the list of strings

list1 = ["Ashish", "", "Atharva", "Amit", "", "Revati"]

output:
["Ashish", "Atharva", "Amit", "Revati"]

In [46]:
l1=["Ashish", "", "Atharva", "Amit", "", "Revati"]

l1.remove("")
l1.remove('')
print(l1)

['Ashish', 'Atharva', 'Amit', 'Revati']

7. Add item 7000 after 6000 in the following Python List

list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

output:
[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40

In [56]:
l1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
    
l2=l1[2][2]
l2.insert(2,7000)

print(l1)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

9. Given a Python list, find value 20 in the list, and if it is present, replace it with 200. Only update the first occurrence of a value

list1 = [5, 10, 15, 20, 25, 50, 20]

output:
list1 = [5, 10, 15, 200, 25, 50, 20]

In [2]:
list1 = [5, 10, 15, 20, 25, 50, 20]

list1[3]=200
print(list1)

[5, 10, 15, 200, 25, 50, 20]

8. Given a nested list extend it by adding the sub list ["h", "i", "j"] in such a way that it will look like the following list


list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]

Sub List to be added = ["h", "i", "j"]

output:
['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

In [8]:
list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
subList = ["h", "i", "j"]
list1[2][1][2].extend(subList)
print(list1)

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

10. Given a Python list, remove all occurrence of 20 from the list

list1 = [5, 20, 15, 20, 25, 50, 20]

output:
[5, 15, 25, 50

In [7]:
l1 =[5, 20, 15, 20, 25, 50, 20]

# l1.remove(20)
# print(l1)

for i,e in enumerate(l1):
    if (l1[i] ==20):
        l1.remove(e)
        
print(l1)

[5, 15, 25, 50]

11. Take a number as input from user. Print maximum and minimum integer which can be generated using all the digits in the input number

Ex. Input 3421   : o/p max: 4321, min 1234

Input 7789    : o/p max: 9776   min 6779

In [15]:
a=input("enter the string")
l1=[]
l2=[]
l1=list(a)
print(l1)

l1.sort()
x="".join(l1)
x=int(x)
print(x)
l2=l1[::-1]
y="".join(l2)
y=int(y)
print(y)

enter the string3421
['3', '4', '2', '1']
1234
4321

12. Take integer from user and print all odd numbers which can be generated using any number of digits from given number

Ex. 
Input: 3421  
    

o/p: 1,3,13,43,23,31,41,21,421,241,341,431,423,243,143,413,1243,1423,4213,4123, 2413,2143, .. etc

In [4]:
import itertools
a=input("enter the number")
l1=[]
l1=list(a)
print(l1)
num=0

for l1 in list(itertools.permutations(l1)):
    num.int(joint(l1))
    num=int(num)
    if (num%2 != 0):
        print(num)

enter the number4557
['4', '5', '5', '7']

AttributeError: 'int' object has no attribute 'int'