# Set Assignment

In [9]:
# 1. Add a list of elements to a given set
sampleSet = {"Yellow", "Orange", "Black"}
sampleList = ["Blue", "Green", "Red","Yellow","orange"]
# for ele in sampleList:
#     sampleSet.add(ele)
# sampleSet
# print(sampleSet.union(set(sampleList)))
print(sampleSet.union(sampleList))

{'Green', 'Orange', 'Black', 'Blue', 'orange', 'Red', 'Yellow'}

In [18]:
# 2. display common elements from the given set
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
set3=set1.intersection(set2)
print(set3)

{40, 50, 30}

In [42]:
# 3. Generate a new set with all items from both sets by removing numbers which are in both sets.
set1 = {10, 20, 30, 40, 50,25}
set2 = {30, 40, 50, 60, 70,100}
set3=set1.symmetric_difference(set2)
print(set3)

{100, 70, 10, 20, 25, 60}

In [47]:
# 4. set of all elements in either A or B, but not both
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
set3=set1.symmetric_difference(set2)
print(set3)

{20, 70, 10, 60}

In [49]:
# 5. Update set1 by adding items from set2, except common items
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
set3=set1.symmetric_difference(set2)
print(set3)

{20, 70, 10, 60}

In [50]:
# 6. Take a sentence as input from user. Every word is seperated by space. 
# Print all unique words from the sentence.
line=input("Enter any line: \n")
words=line.lower().split()
unique_word=set(words)
print(unique_word)

Enter any line:
i am here to check the here sta
{'here', 'sta', 'am', 'check', 'i', 'to', 'the'}

# Tuple Assignment

In [53]:
# 1. Reverse the following tuple
aTuple = (10, 20, 30, 40, 50,60)
rev_tup=aTuple[::-1]
print(rev_tup)
ret=tuple(reversed(aTuple))
print(ret)

(60, 50, 40, 30, 20, 10)
(60, 50, 40, 30, 20, 10)

In [54]:
# 2. display value 20 from the following tuple
aTuple = ("Orange", [10, 20, 30], (5, 15, 25))
print(aTuple[1][1])

20

In [56]:
# 3. Unpack the following tuple into 4 variables
aTuple = (10, 20, 30, 40)
a,b,c,d=aTuple
print(a,b,c,d,sep='\n')

10
20
30
40

In [59]:
# 4. Swap the following two tuples
tuple1 = (11, 22)
tuple2 = (99, 88)
print("before swaping", tuple1,tuple2, sep='\n')
tuple1,tuple2=tuple2,tuple1
print("after swaping", tuple1,tuple2, sep='\n')

before swaping
(11, 22)
(99, 88)
after swaping
(99, 88)
(11, 22)

In [61]:
# 5. Copy element 44 and 55 from the following tuple into a new tuple
tuple1 = (11, 22, 33, 44, 55, 66)
tuple2=tuple1[3:5]
print(tuple2)

(44, 55)

In [62]:
# 6. Modify the first item (22) of a list inside a following tuple to 200
tuple1 = (11, [22, 33], 44, 55)
tuple1[1][0]=200
print(tuple1)

(11, [200, 33], 44, 55)

In [64]:
# 7. Take two integer values in a & b. Swap their values using tuple, using temparary variable and without tuple and without temparary variable.
# with tuple
a=10
b=23
print(f"Before swaping: a={a} , b={b}")
b,a=a,b
print(f"Before swaping: a={a} , b={b}")

Before swaping: a=10 , b=23
Before swaping: a=23 , b=10

In [65]:
# using temparary variable
a=10
b=23
print(f"Before swaping: a={a} , b={b}")
temp=a
a=b
b=temp
print(f"Before swaping: a={a} , b={b}")

Before swaping: a=10 , b=23
Before swaping: a=23 , b=10

# Dictionary Assignment

In [22]:
decode={'a':'n', 'b':'o', 'c':'p', 'd':'q', 'e':'r', 'f':'s', 'g':'t', 'h':'u', 'i':'v', 'j':'w', 'k':'x', 'l':'y', 'm':'z', 'n':'a', 'o':'b', 'p':'c',
'q':'d', 'r':'e', 's':'f', 't':'g', 'u':'h', 'v':'i', 'w':'j', 'x':'k', 'y':'l', 'z':'m', 'A':'N', 'B':'O', 'C':'P', 'D':'Q', 'E':'R', 'F':'S', 'G':'T', 'H':'U', 'I':'V', 'J':'W', 'K':'X', 'L':'Y', 'M':'Z', 'N':'A', 'O':'B', 'P':'C', 'Q':'D', 'R':'E', 'S':'F', 'T':'G', 'U':'H', 'V':'I', 'W':'J', 'X':'K', 'Y':'L', 'Z':'M'}
mess="Pnrfne pvcure? V zhpu cersre Pnrfne fnynq!"
dec=""
for ch in mess:
    if ch.isalpha():
        dec+=decode[ch]
    else:
        dec+=ch
print(dec)

Caesar cipher? I much prefer Caesar salad!

In [66]:
# 2. Given a dictionary of students and their favourite colours:
dic={'Arham':'Blue','Lisa':'Yellow','Vinod':'Purple','Jenny':'Pink'}
#a. Find out how many students are in the list
print(len(dic.keys()))

4

In [26]:
# b. Change Lisaâ€™s favourite colour
dic['Lisa']='Pink'
print(dic)

{'Arham': 'Blue', 'Lisa': 'Pink', 'Vinod': 'Purple', 'Jenny': 'Pink'}

In [29]:
# c. Remove 'Jenny' and her favourite colour
dic.pop('Jenny')
print(dic)

{'Arham': 'Blue', 'Lisa': 'Pink', 'Vinod': 'Purple'}

In [33]:
input_sent= 'CDAC is in Pune'
word=input_sent.split()
d={}
for i in word:
    le=len(i)
    d[le]=d.get(le,0)+1
print(d)
print(le)

{4: 2, 2: 2}
4